*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Work-serif' sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;

}
.container{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    transition: all .50s ease;
    margin-top: 12px;


}
.logo{
    font-size: large;
    font-weight: 20;
    font-style: italic;
    transform: translateX(20px);

}
.spn{
    color: rgb(133, 4, 172);
}
.nav{
  display: flex;
}
.nav a{
    padding: 10px 15px;
    transform: translateX(70%);
    
}
.nav a:hover{
    color: rgb(133, 4, 172);
    cursor: pointer;

}

.bk{
    background: rgb(133, 4, 172);
    color: white;
    border-radius: 50rem;


}
.bk:hover{
    background: white;
    color: rgb(133, 4, 172);
    border: 2px solid rgb(133, 4, 172);
}
.section{
   padding: 20px;
   font-size: large;
    margin-top: 10%;
    margin-left: 5%; 
}
.h{
    font-size: 20px;
    font-weight: 20;
    margin-left: 4%;
    
}
.h1{
    font-size: 50px;
    color: rgb(133, 4, 172);
    font-weight: 100;

}
.p{
    padding: 30px;
  
}
.fli{
    background: rebeccapurple;
    color: white;
    border-radius: 10rem;
    padding: 10px 10px;
    cursor: pointer;


}
.fli:hover{
    background-color: white;
    color:  rgb(133, 4, 172);
    border: 2px solid rgb(133, 4, 172);
    cursor: pointer;
}
.cu{
    color: rgb(133, 4, 172);
    border-radius: 10rem;
    padding: 10px 10px;
    transform: translateX(30px);
    cursor: pointer;
    border: solid 2px rgb(133, 4, 172);

}
.cu:hover{
    background: rgb(133, 4, 172);
    color: white;
    cursor: pointer;
    
}

.imgg{
    text-align: center;
    transform: translateY(-300px);
    margin-left: 50%;

   
} 
  .imgg .img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}